.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #0a0714, #1a0e30, #120a25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    text-align: center;
    text-transform: capitalize;
    font-size: var(--font-size-h3);
    font-weight: bold;
    z-index: 10;
    transition: opacity 0.7s ease-in-out;
}

.preloader b {
    color: var(--primary-color);
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* Progress bar */
.progress-loader {
    width: 40%;
    background: rgba(236, 236, 238, 0.253);
    height: 0.5rem;
    border-radius: 7px;
}

.loader {
    width: 0;
    height: 0.5rem;
    position: relative;
    background: var(--primary-color);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: loading 3.5s ease forwards;
    border-radius: 7px;
}

.loader::after,
.loader::before {
  content: "";
  width: 10px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}

.loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
}

@keyframes loading {
    0% {
      width: 0%;
    }
  
    10% {
      width: 10%;
    }
  
    50% {
      width: 40%;
    }
  
    60% {
      width: 60%;
    }
  
    100% {
      width: 100%;
    }
}

@keyframes coli1 {
    0% {
      transform: rotate(-45deg) translateX(0px);
      opacity: 0.7;
    }
  
    100% {
      transform: rotate(-45deg) translateX(-45px);
      opacity: 0;
    }
}

@keyframes coli2 {
    0% {
      transform: rotate(45deg) translateX(0px);
      opacity: 1;
    }
  
    100% {
      transform: rotate(45deg) translateX(-45px);
      opacity: 0.7;
    }
}

/* Spinner */
.spinner {
    background-image: linear-gradient(var(--primary-color) 35%,rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: rotate 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px var(--primary-color), 0px 5px 20px 0px rgb(0, 225, 255);
  }
  
  .spinner1 {
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }