@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap');

:root {
    /* Colors */
    --primary-color: #cd5ff8;
    --secondary-color: #8c32be;
    --third-color: white;
    --background-color: #0a0a0a;
    --text-color: white;
    --hover-color: #cd5ff8;

    /* Spacing */
    --gap-section: 2rem;
    --padding-section: 2rem;
    --border-radius: 8px;

    /* Typography */
    --font-main: 'JetBrains Mono', monospace;

    /* Polices */
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.5rem;
    --font-size-text: 1.25rem;
    --font-size-small: 1rem;
}