.navbar {
    display: flex;
    gap: var(--gap-section);
}

.navbar a {
    position: relative;
    transition: color 0.3s;
    background: linear-gradient(to right, var(--primary-color) 50%, var(--third-color) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}

.navbar a:hover {
    background-position: 0%;
    transform: scale(1.1);
}

.navbar a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
}

.navbar a:hover:after {
    width: 100%;
}