.navbar {
    display: flex;
    gap: var(--gap-section);
}

.navbar a {
    position: relative;
    transition: color 0.3s;
    background: linear-gradient(to right, var(--primary-color) 50%, var(--third-color) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}

.navbar a:hover {
    background-position: 0%;
    transform: scale(1.1);
}

.navbar a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
}

.navbar a:hover:after {
    width: 100%;
}

/* Version mobile */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background: rgba(27, 26, 46, 0.95);
        backdrop-filter: blur(20px);
        transition: right 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    }

    .navbar.mobile-open {
        right: 0;
    }

    .navbar a {
        font-size: 1.5rem;
    }

    .navbar a:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 80%;
    }

    .navbar a {
        font-size: 1.3rem;
    }
}