.footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer p {
    text-align: center;
}

.social-media-container {
    width: 100%;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    padding: var(--padding-section);
    border-radius: var(--border-radius);
}

.social-media {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.68, 0.85, 0.265, 1.85);
    border-radius: 5px;
    margin: 0 5px;
    box-shadow:
        inset 1px 1px 2px #fff,
        0 0 5px #4442;
}

.social-media:hover {
    background-color: white;
    background-position:
        -100px 100px,
        -100px 100px;
    transform: perspective(180px) rotateX(60deg) translateY(2px);
}

.social-media-1:hover {
    box-shadow: 0px 10px 10px #1e90ff;
}
.social-media-2:hover {
    box-shadow: 0px 10px 10px #ff00ff;
}
.social-media-3:hover {
    box-shadow: 0px 10px 10px #000;
}
.social-media-4:hover {
    box-shadow: 0px 10px 10px #4267b2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.85, 0.265, 1.55);
}

.social-media:hover > .button {
    transform: translate3d(0px, 20px, 30px) perspective(80px) rotateX(-60deg)
        translateY(2px) translateZ(10px);
}
